body {
  font-family: 'Montserrat', sans-serif;
  width: 940px;
  margin: 5% auto;
  min-height: 100%;
  background-image: url(../images/adventure.jpg);
}

ul {
  padding-left: 0;
  list-style: none;
  color: #6d5c7e;
  font-style:oblique;
}

li {
  padding: 5px 0;
  animation: fadein 5s;
}

li::before {
  content: "• ";
  color: #ad81ef;
}

.col-40 h1 {
  font-size: 20px;
  color: #504658;
}

.col-40, .col-60 {
  display: table-cell;
  margin: 0;
  vertical-align: top;
}

.col-40 {
  background:#f0decb;
  padding: 30px;
}

.col-60 {
  background:	#6d5c7e;
}

#flecha{
  font-size: 60px;
}

.texto-centrado {
  text-align: center;
}

#juego div {
  text-align: center;
  animation: fadein 2s;
}

.col-40{
  width:40%;
}

.col-60{
  width:60%;
}

#juego {
  height:600px;
  width:600px;
}

.partes{
  border: 1px solid #ad81ef;
  float: left;
  width: 33%;
  height: 33%;
}

.partes img{
  width:100%;
}

#titulo {
  text-align: center;
  background-color: #caadde;
}

#footer {
  font-family:'Montserrat', sans-serif;
  font-style: italic;
  font-size: 10px;
  color: #504658;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

